# HTTPS по домену dofamy.ru — добавьте этот блок в Caddyfile Urbanscore (порты 80/443):
#
# dofamy.ru {
#     reverse_proxy 127.0.0.1:8082
# }
#
# www.dofamy.ru {
#     redir https://dofamy.ru{uri}
# }

{$SITE_DOMAIN} {
    reverse_proxy web:80
}
